<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="amazon.Test_CheckBox"/>
      <class name="datePicker.Expedia_DatePIcker_TestGood"/>
      <class name="datePicker.DataDriven_newTourTest_good"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
